$font-poppins: 'Poppins', sans-serif;

$color-primary: #a974ff;

$color-secondary: #a4b6e1;

$color-red: #ff5775;
$color-blue: #58b9ff;

$color-headers: #25396f;

$color-border: #d8e4f2;

$color-gray-light: #fdfdfe;
$color-gray-medium: #f5f8ff;

$color-black: #000;

$color-white: #fff;
