@import '../../../styles/abstract/variables';

.list__items {
	padding: 2rem 0;
	border-bottom: 1px solid $color-border;

	.follow__btn {
		background-color: $color-primary;
		border-color: $color-primary;
		padding: 0.2rem 1.5rem;
		font-size: .875rem;
		&:hover,
		&:focus {
			background-color: $color-primary;
			border-color: $color-primary;
		}
	}
}
