@import '../../../styles/abstract/variables';

.tabs {
	&__tabItem {
		margin-right: 1rem;
		cursor: pointer;
		color: $color-secondary;
		font-weight: 500;
		&.activeTab {
			color: $color-primary;
		}
	}
}
