@import '../../../styles/abstract/variables';

.nav {
	&__link {
		a {
			color: $color-secondary;
			text-transform: capitalize;
			text-decoration: none;
			display: flex;
			align-items: center;
			width: 100%;
			margin: 1rem 0;
			font-size: 1.1rem;
			font-weight: 500;
			&:hover {
				color: $color-primary !important;
			}
		}
	}
}
