@import '../../../styles/abstract/variables';
@import '../../../styles/abstract/mixins';

.latest__card {
	padding: 1.5rem 1rem;
	border: 2px solid $color-white;
	border-radius: 15px;
	img {
		width: 50%;
		border-radius: 15px;
		outline: 2px solid $color-white;
	}

	&__title {
		font-size: 1rem;
		font-weight: 500;
		color: $color-headers;
		margin-bottom: 0 !important;
		width: 100%;
		@include breakpoint(xl) {
			width: 100px;
		}
	}
	span {
		font-size: 0.875rem;
		color: $color-secondary;
	}
}
