@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import '../abstract/variables';
@import '../abstract/mixins';
@import "~bootstrap/scss/bootstrap";

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-family: $font-poppins;
}

body {
	box-sizing: border-box;
	font-family: $font-poppins;
}

.page {
	height: 50vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 4rem;
}
